
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item{
    gap:5px;
}

.container{
    margin-top:50px;
}

.form-recherche{
    display:inline;
    float:right;
    max-width: 300px;
}
.input-recherche{
    max-width: 200px;
}

.pagination{
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.element-pagination{
    margin-left: 10px;
    margin-right: 10px;
}

.inline-recherche{
    display:inline;
}

.center{
    text-align: center;
}